#NAME{
    border: 1px solid black;
    background-color: white;
    
    border-radius: 2px 2px 2px;
    width: 50%;
    padding: 10px;
    text-align: start;

}

body{
    
    background-color: #D1E8E4;
}

#FORM{
    background-color: #D1E8E4;
    /* padding: 10px 10px 10px 400px; */

}

button{
    border-radius: 3px ;
    background-color:  #D1E8E4;
    color: white;
    border: rgb(171, 180, 171);
    font-size: larger;
    cursor: pointer;
    
}

button:hover{
    background-color: aquamarine;
}